<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.mapperInterface.UserMapper">

<resultMap id="userMap" type="com.ssm.bean.User">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="birthday" property="birthday" />
		<result column="intoDate" property="intoDate" />
		<result column="state" property="state" />
		<result column="status" property="status" />
</resultMap>

<select  id="selectUserByUserName" resultMap="userMap">
	select id,username,password,name,phone,email,birthday,intoDate,state,status from users where username=#{username}
</select>

</mapper>