<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.mapperInterface.OrderMapper">


	<resultMap type="com.ssm.common.bean.Order" id="orderMap">
		<id column="id" property="id" />
		<result column="total" property="total" />
		<result column="oraderDate" property="oraderDate" />
		<result column="category_id" property="customerId" />
	</resultMap>

	<insert id="insertOrder" parameterType="com.ssm.common.bean.Order">
		insert into `order` (id,
		total, orderDate,customer_id) values (#{id},
		#{total},#{orderDate},#{customerId})

	</insert>

</mapper>